/* buttons */
.btn-primary {
  background-color: #0077b3;
  border-color:  #0077b3;
}
.btn-primary:hover {
  background-color: #005885;
  border-color: #005885;
}
.btn-primary:active {
  background-color: #005885;
  border-color: #005885;
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #005885;
  border-color: #0087cc;
}

/* titles */
.u-url {
  color: #0077b3;
}
.u-url:hover {
  color: #005885;
}

/* links */
a {
  color: #0077b3;
}
a:hover {
  color: #005885;
}

/* menu */
.dropdown-item.active {
  background-color: #0077b3;
}
.dropdown-item:active {
  background-color: #0077b3;
}

/* shadow when hovering over img. */
.hover-shadow figure img {
	opacity: 1;
  width: 100%;
  max-width: 200px;
}
.hover-shadow figure:hover img {
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  width: 100%;
  max-width: 200px;
}

/* shadow when hovering over gallery img. */
.image-block img {
	opacity: 1;
  width: 100%;
  max-width: 200px;
}
.image-block:hover img {
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  box-shadow: 0 .25rem 0.5rem rgba(0,0,0,.15);
  width: 100%;
  max-width: 200px;
}

/* blog post */
.entry-title {
  font-size: 1.5rem;
}
.h-entry {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
  margin-bottom: 1rem;
}

/* pager buttons */
ul.pager li a {
  display: inline;
  position: relative;
  line-height: 1.5;
  color: #fff;
  border-radius: .25rem;
  border: 1px solid #0077b3;
  background-color: #0077b3;
  padding: .375rem .75rem;
}
ul.pager li a:hover {
  border: 1px solid #005885;
  background-color: #005885;
  text-decoration: none;
}
