/* buttons */
.btn-primary {
  background-color: #0077b3;
  border-color:  #0077b3;
}
.btn-primary:hover {
  background-color: #005885;
  border-color: #005885;
}
.btn-primary:active {
  background-color: #005885;
  border-color: #005885;
}
.btn-primary:focus {
  background-color: #005885;
  border-color: #005885;
}
.btn-primary:not(:disabled):not(.disabled).active {
  background-color: #002e46;
  border-color: #002e46;
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #005885;
  border-color: #005885;
}
.btn-primary:not(:disabled):not(.disabled).active:hover {
  background-color: #004162;
  border-color: #004162;
}

/* titles */
.u-url {
  color: #0077b3;
}
.u-url:hover {
  color: #005885;
}

/* links */
a {
  color: #0077b3;
}
a:hover {
  color: #005885;
}

/* menu */
.dropdown-item.active {
  background-color: #0077b3;
}
.dropdown-item:active {
  background-color: #0077b3;
}

/* shadow when hovering over img (inside figure). */
.hover-shadow figure img {
	opacity: 1;
  width: 100%;
  max-width: 200px;
}
.hover-shadow figure:hover img {
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  width: 100%;
  max-width: 200px;
}

/* shadow when hovering over img. */
.hover-shadow img {
	opacity: 1;
}
.hover-shadow img:hover {
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* shadow when hovering over gallery img. */
.image-block img {
	opacity: 1;
  width: 100%;
  max-width: 200px;
}
.image-block:hover img {
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  box-shadow: 0 .25rem 0.5rem rgba(0,0,0,.15);
  width: 100%;
  max-width: 200px;
}

/* blog post */
.entry-title {
  font-size: 1.5rem;
}
.h-entry {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
  margin-bottom: 1rem;
}

/* pager buttons */
ul.pager li a {
  display: inline;
  position: relative;
  line-height: 1.5;
  color: #fff;
  border-radius: .25rem;
  border: 1px solid #0077b3;
  background-color: #0077b3;
  padding: .375rem .75rem;
}
ul.pager li a:hover {
  border: 1px solid #005885;
  background-color: #005885;
  text-decoration: none;
}

/*====================
  Footer
====================== */

/* Main Footer */
#footer {
  border-top: 0px;
  padding-top: 10px;
}
footer .main-footer {
  padding: 20px 0;
  background: #343a40;
}
footer ul {
  padding-left: 0;
  list-style: none;
}

/* Copy Right Footer */
.footer-copyright {
  background: #343a40;
  padding: 5px 0;
}
.footer-copyright .logo {
  display: inherit;
}
.footer-copyright nav {
  float: right;
  margin-top: 5px;
}
.footer-copyright nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-copyright nav ul li {
  border-left: 1px solid #505050;
  display: inline-block;
  line-height: 12px;
  margin: 0;
  padding: 0 8px;
}
.footer-copyright nav ul li a {
  color: #969696;
}
.footer-copyright nav ul li:first-child {
  border: medium none;
  padding-left: 0;
}
.footer-copyright p {
  color: #969696;
  margin: 2px 0 0;
}

/* Footer Top */
.footer-top {
  background: #343a40;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px solid #343a40;
}

/*====================
  Widgets
====================== */
.widget {
  padding: 20px;
  margin-bottom: 40px;
}
.widget.widget-last {
  margin-bottom: 0px;
}
.widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}
.widget.subscribe p {
  margin-bottom: 18px;
}

.widget p a {
  color: rgba(255,255,255,.5);
  text-decoration: none;
}
.widget p a:hover {
  color: rgba(255,255,255,.75);
  text-decoration: none;
}
.widget li a {
  color: rgba(255,255,255,.5);
  text-decoration: none;
}
.widget li a:hover {
  color: rgba(255,255,255,.75);
  text-decoration: none;
}

.widget-title {
  margin-bottom: 20px;
}
.widget .badge {
  float: right; background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
  color: #fff;
}
